#idx id; idx class;

mh_sh;min_hash_idx<5,0,5,80,100>
mh_sh;min_hash_idx<5,0,5,80,50>
mh_sh;min_hash_idx<5,0,4,80,50>
mh_sh;min_hash_idx<5,0,3,80,50>
#template<uint64_t w_size_t, uint64_t app_seq_len_t, uint64_t t_lim_t, uint64_t threshold_t, uint64_t n_perms_t, uint64_t n_segs_t=0, uint64_t seg_size_t=0>
